<% var data = {
  title: "Andrew's test project",
  author: "Andrew Klmn"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="wrapper">
    <div class="box hero">
        <div class="box header">
            <div class="box logo">
                <img id="logo_image" src="img/logo.png">
            </div>
            <div class="box menu">
                <ul id="header_menu">
                        <li><a class="up_menu word" href="#">HOME</a></li>
                        <li><a class="up_menu word" href="#about_us">ABOUT US</a></li>
                        <li><a class="up_menu word" href="#contact">CONTACT</a></li>
                        <li>
                            <a id="mobile_menu_driver" 
                               class="up_menu icon" href="javascript:void(0);">&#9776</a>
                        </li>
                </ul>
                <div id="mobile_menu">
                    <ul>
                        <li><a class="mobile_menu" href="#about_us">ABOUT US</a></li>
                        <li><a class="mobile_menu" href="#contact">CONTACT</a></li>
                        <li><a class="mobile_menu" href="#join_team">CAREERS</a></li>
                    </ul>
                </div>
                <div id="up_menu_underline"></div>
            </div>
        </div>
        <div class="box text">
            <div class="centered">
                <h1>We can help.</h1>
                <div class="underline"></div>
                <p>Teaching independence to the lives of the people you love with
                reliable, individualized emotional and behavioral therapy.</p>
                <button id="help">FIND HELP HERE</button>
            </div>
        </div>
    </div>
    <div class="box partners">
        <img src="img/partner1.png" alt="MagelLan">
        <img src="img/partner2.png" alt="Kaiser">
        <img src="img/partner3.png" alt="Anthem">
        <img src="img/partner4.png" alt="NorthBay">
        <img src="img/partner5.png" alt="Pantnership">
        <img src="img/partner6.png" alt="Aetna">
    </div>
    <div id="about_us" class="box about_us">
        <h1>Support For People Of All Walks of Life</h1>
        <p>
            Children as young as 2 years old may begin 
            to develop behaviors which need extra support and attention.
        </p>
        <div class="align_bottom">
            <img src="img/age.png" alt="people">
        </div>
    </div>
    <div class="box mbis">
        <h1>McGrew Behavior Services Helps...</h1>
        <p>
            Families, organizations and health care providers in Northern
            California. Our knowledge and experience provide the specialized support people 
            need when overcoming behavioral challenges.
        </p>
        <button id="contact_us">CONTACT US</button>
    </div>
 </div>
    <div class="box inhome">
        <div class="back"></div>
        <h1>In Home Support</h1>
        <div class="slider fade">
                <div class="image">
                    <img src="img/slide_4.jpg" />
		</div>
                <div class="image">
                    <img src="img/slide_3.jpg" />
		</div>
                <div class="image">
                    <img src="img/slide_2.jpg" />
		</div>
                <div class="image">
                    <img src="img/slide_1.jpg" />
		</div>
                
        </div>
    </div>
    <div id="join_team" class="box join_team">
        <div class="join_photo">
            <img src="img/join_photo.jpg"/>
        </div>
        <div class="text_block">
            <p class="text1">
                Be a part of something bigger than yourself. Make a difference.
            </p>
            <h1 id="h1_join">Join Our Team.</h1>
            <div id="underline_join"></div>
            <p class=text2>
                We are always looking for highly motivated individuals 
                who aligned with our commitment to making a difference in the 
                lives of other people. Whether you're a BCBA or interested in 
                ABA work we are interested in talking to you!.
            </p>
            <button id="join_button">FIND WHAT'S AVAILABLE</button>
        </div>
    </div>
    <div id="contact" class="contact">
        <hr id="upper"/>
<%= _.template(require('./../includes/multi-menu.html').default)(data) %>        
        <div class="down_menu">
            <ul id="contact_menu">
                <li><a class="down_menu" href="#">HOME</a></li>
                <li><a class="down_menu" href="#about_us">ABOUT US</a></li>
                <li><a class="down_menu" href="#contact">CONTACT</a></li>
                <li><a class="down_menu" href="#join_team">CAREERS</a></li>
            </ul>
        </div>
            <p id="icons">
                <a class="social"><span>I</span></a>
                <a class="social"><span>O</span></a>
                <a class="social"><span>M</span></a>
            </p>
            
            <p id="address">120 Theresa Ave, American Canyon, CA 94503</p>
            <p id="p_phone">
                <a id="phone" href="tel:707.561.0134"> 707.561.0134 </a>
            </p>
            <p>
                <a id="mail" href="mailto:familyresources@mbisinc.com">
                    familyresources@mbisinc.com
                </a>
            </p>
        <hr id="lower"/>
            <p id="copyright">
                Copyright Ⓒ 2017 McGrews Behavior Services All Rights Reserved
            <p/>
    </div>
<%= _.template(require('./../includes/footer.html').default)(data) %>