<% var data = {
  title: "Title | Test project",
  author: "Andrew Klmn"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="wrapper">
    <div class="box hero">
        <div class="box header">
            <div class="box logo">
                <img src="img/logo.png">
            </div>
            <div class="box menu">
                <ul id="header_menu">
                        <li><a class="up_menu" href="#">HOME</a></li>
                        <li><a class="up_menu" href="#about_us">ABOUT US</a></li>
                        <li><a class="up_menu" href="#contacts">CONTACT</a></li>
                </ul>
                <div id="up_menu_underline"></div>
            </div>
        </div>
        <div class="box text">
            <div class="centered">
                <h1>We can help.</h1>
                <div class="underline"></div>
                <p>Teaching independence to the lives of the people you love with
                reliable, individualized emotional and behavioral therapy.</p>
                <button id="help">FIND HELP HERE</button>
            </div>
        </div>
    </div>
    <div class="box partners">
        <img src="img/partner1.png" alt="MagelLan">
        <img src="img/partner2.png" alt="Kaiser">
        <img src="img/partner3.png" alt="Anthem">
        <img src="img/partner4.png" alt="NorthBay">
        <img src="img/partner5.png" alt="Pantnership">
        <img src="img/partner6.png" alt="Aetna">
    </div>
    <div id="about_us" class="box about_us">
        <h1>Support For People Of All Walks of Life</h1>
        <p>
            Children as young as 2 years old may begin 
            to develop behaviors which need extra support and attention.
        </p>
        <div class="align_bottom">
            <img src="img/age@2x.png" alt="people">
        </div>
    </div>
    <div class="box mbis">
        <h1>McGrew Behavior Services Helps...</h1>
        <p>
            Families, organizations and health care providers in Northern
            California. Our knowledge and experience provide the specialized support people 
            need when overcoming behavioral challenges.
        </p>
        <button id="contact_us">CONTACT US</button>
    </div>
    <div class="box inhome">inhome</div>
    <div class="box jointeam">jointeam</div>
    <div id="contacts" class="box footer">footer</div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>