$space-margin: 35px;
$normal-font-size: 16px;

.contact {
    background-color: white; 
    color: #999999;
    text-align: center;
    
    hr#upper {
        margin-top: 50px; 
        border: 2px solid #cccccc;
        margin-bottom: 50px;
    }
    
    li {
        list-style: none;
        display: inline-block;
    }
    
    p {
        margin: $space-margin;
    }
    
    span {
        margin: 30px;
        font-size: 30px;
        cursor: pointer;
    }
    
    a.down_menu {
        margin: 25px;
        color: #999999;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    }
    
    p#icons {
        font-family: SocialIcons;
    }
    
    p#address {
        font-size: $normal-font-size;
        font-weight: 400;
    }
    
    a#phone {
        color: #999999;
        font-size: $normal-font-size;
        font-weight: 400;
        text-decoration: none;
    }
    
    a#mail {
        color: #e99c48;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    }
    
    a:hover {
        color: black;
    }
    
    hr#lower {
        width: 85%;
        margin-top: 50px; 
        border: 1px solid #cccccc;
        margin-bottom: 50px;
    }
    
    p#copyright{
       font-weight: 700;
       font-size: 0.8em;
    }
    p#p_phone{
        margin: 0px;
    }
}

