
.join_team {
    background-color: #367ab7;
    color:  white;
    width:100%;
    
    padding: 0px;
    margin: 0px;
    
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    box-sizing: border-box;
    
    div.join_photo {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        width:60%;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        
        img{
            width:100%;
            height: auto;
            min-width: 300px;
            padding: 0px;
            margin-top: auto;
            margin-bottom: auto;
            box-sizing: border-box;
        }
    }
    div.text_block{
        
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        width:40%;
        margin: 30px;
        text-align: left;
        
        p.text1 {
            font-weight: 400;
            font-style: italic;
            font-size: 18px;
            margin: 0px;
        }
        
        h1 {
            padding-top: 30px;
            font-weight: 900;
            font-size: $header-font-size;
            margin: 0px;
        }
        
        
        p.text2 {
            padding-top: 10px;
            font-weight: 400;
            font-size: 18px;
            margin-top: 27px;
            line-height: 1.5;
            
        }
        
        button {
            margin-top: 40px;
            width: 325px;
            height: 70px;
            font-size: 24px;
            background-color: #00b5d2;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;

            box-shadow: #008ea5 0px 10px;
        }
        button:hover {
            background-color: #00a5c2;      
        }
        button:active {
            background-color: #00a5c2;
            box-shadow: #008ea5 0px 6px;
            transform: translateY(4px);
        }
        @media screen and (max-width: 750px) {
            
            
            
            div#underline_join {
                margin-left: 165px; 
                width: 90px;
            }
            button {
                width:295px;
            }
        }

    }
    @media screen and (max-width: 750px) {
    
        h1#h1_join{
            font-size: $mob-header-font-size;
        }
    }
}


