$font-stack: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap');
@import "partners.scss";
@import "about_us.scss";
@import "mbis.scss";

body {
  font-family: $font-stack;
  margin: 0px;
  padding: 0px;
}


.wrapper {
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    margin: 0px;
    padding: 0px;
} 
.box { 
    /* border: solid thin black; */
}

.header { 
    grid-column-start: 1; 
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 110px;
}
.hero { 
    grid-column-start: 1; 
    grid-column-end: 13;
    height: 660px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    background-image: url(../img/hero@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.logo { 
    grid-column-start: 1; 
    grid-column-end: 7; 
    text-align: left;
    padding-left:8%;
    padding-top: 40px;
    img {
        
    }
}
.menu { 
    grid-column-start: 7; 
    grid-column-end: 13; 
    font-size: 16px;
    text-align: right;
    padding-right:8%;    
    padding-top: 20px;
       
    li {
        list-style: none;
        display: inline-block;
    }
    
    a {
        color: black;
        margin: 20px;
        padding-bottom: 40px;
        text-decoration: none;
    }
    
    a:hover {
        color:white;
    }
}

.text { 
    height: 550px;
    grid-column-start: 1; 
    grid-column-end: 6;
    color: white;
    
    h1 {
       font-weight: 900;
       font-size: 50px;
       text-shadow: #733f21 3px 3px;
       overflow-wrap: normal;
       white-space: nowrap;
       margin-top: 0px;
       margin-bottom: 20px;
    }
    p {
        font-size: 17px;
        line-height: 200%;
        text-shadow: #733f21 2px 2px;
    }
    button {
        margin-top: 30px;
        width: 285px;
        height: 70px;
        font-size: 24px;
        background-color: #e1aa6e;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        
        box-shadow: #ba8e5b 0px 10px;
    }
    button:hover {
        background-color: #d19a5e;      
    }
    button:active {
        background-color: #d19a5e;
        box-shadow: #aa7e4b 0px 6px;
        transform: translateY(4px);
    }
}

div.underline {
        margin-left: 185px; 
        width: 100px;
        height: 5px;
        background-color: #00b5d2;
}

div#up_menu_underline {
    width: 90px;
    height: 5px;
    background-color: #00b5d2;
    display:none;
    position:absolute;
}

div.centered {
    width: 80%;
    height: 550px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding-left:10%;
    padding-right: 10%;
    overflow-x: visible;
};

.inhome{
    height: 712px;
    grid-column-start: 1; 
    grid-column-end: 13;
}

.jointeam{
    height: 440px;
    grid-column-start: 1; 
    grid-column-end: 13;
}

.footer{
    height: 464px;
    grid-column-start: 1; 
    grid-column-end: 13;
}